#content{
 background-image: linear-gradient(to right top, #00fffb, #00e5ff, #00c8ff, #00aafd, #008aea, #007be8, #006ae4, #2058dd, #3d51ea, #5a46f4, #7834fb, #9600ff);
}

body {
    color: #ffffff;
    font-family: 'Chewy';font-size: 22px;
    
}